 <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />




      proguard-rules.pro (ProGuard Rules for "app")

-keep class com.shockwave.**


      gradle.properties (Project Properties)

android.enableJetifier=true


